In [16]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
age = sorted(ages)
print(age)
n=len(age)
min=age[0]
max= age[n-1]
print("min age",min)
print("max age", max)

age.append(min)
age.append(max)

print("Adding min and max to list",age)
age = sorted(age)
if n % 2 == 0:
  median = (age[n//2 - 1] + age[n//2]) / 2
else:
  median = age[n//2]
print("Median:",median)

avg = sum(age)/n
print("Average age: ", avg)

range = max - min
print("Range:", range)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
min age 19
max age 26
Adding min and max to list [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median: 23.0
Average age:  27.3
Range: 7

In [28]:
dog = {}
dog['name'] = 'Snoopy'
dog['color'] = 'Golden'
dog['breed'] = 'Golden Retrever'
dog['legs'] = 4
dog['age'] = 1
print("Dog:", dog)


student = {
    'first_name': 'Chay',
    'last_name': 'Muthyala',
    'gender': 'Male',
    'age': 24,
    'marital_status': 'Single',
    'skills': ['React', 'Node'],
    'country': 'USA',
    'city': 'Kansas',
    'address': '12344 Craig St'
}
print("Student:", student)

print("Length of student dictionary:",len(student))

skills= student['skills']

print("Skills: ",skills)
print("Data type of skills:", type(skills))
student['skills'].append('Python')
print("Skills:", student['skills'])
keys = list(student.keys())
print("Student keys:", keys)
values = list(student.values())
print("Student values:", values)

Dog: {'name': 'Snoopy', 'color': 'Golden', 'breed': 'Golden Retrever', 'legs': 4, 'age': 1}
Student: {'first_name': 'Chay', 'last_name': 'Muthyala', 'gender': 'Male', 'age': 24, 'marital_status': 'Single', 'skills': ['React', 'Node'], 'country': 'USA', 'city': 'Kansas', 'address': '12344 Craig St'}
Length of student dictionary: 9
Skills:  ['React', 'Node']
Data type of skills: <class 'list'>
Skills: ['React', 'Node', 'Python']
Student keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student values: ['Chay', 'Muthyala', 'Male', 24, 'Single', ['React', 'Node', 'Python'], 'USA', 'Kansas', '12344 Craig St']

In [30]:
sisters = ('Aadya', 'Aayushi')
brothers = ('Nithu', 'Jithu')

siblings = sisters + brothers
print("Siblings:", siblings)

num = len(siblings)
print("Number of siblings:", num)

parents = ('Amma', 'Nana')
family_members = siblings + parents
print("Family members:", family_members)

Siblings: ('Aadya', 'Aayushi', 'Nithu', 'Jithu')
Number of siblings: 4
Family members: ('Aadya', 'Aayushi', 'Nithu', 'Jithu', 'Amma', 'Nana')

In [31]:
# Initial sets and list
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Find the length of the set it_companies
length_it_companies = len(it_companies)
print("Length of it_companies:", length_it_companies)

# 2. Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)

# 3. Insert multiple IT companies at once to the set it_companies
new_companies = {'Netflix', 'Tesla', 'SpaceX'}
it_companies.update(new_companies)
print("it_companies after adding multiple companies:", it_companies)

# 4. Remove one of the companies from the set it_companies
it_companies.remove('IBM')  # Assuming 'IBM' is the company to remove
print("it_companies after removing 'IBM':", it_companies)

# 5. Difference between remove and discard
# Example:
it_companies.discard('NonExistentCompany')  # No error if the element is not found
# it_companies.remove('NonExistentCompany')  # Raises KeyError if the element is not found

# 6. Join A and B
A_union_B = A.union(B)
print("A union B:", A_union_B)

# 7. Find A intersection B
A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)

# 8. Is A subset of B
is_A_subset_B = A.issubset(B)
print("Is A subset of B:", is_A_subset_B)

# 9. Are A and B disjoint sets
are_A_B_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets:", are_A_B_disjoint)

# 10. Join A with B and B with A
A.update(B)
print("A after joining with B:", A)
B.update(A)
print("B after joining with A:", B)

# 11. Symmetric difference between A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A_symmetric_difference_B = A.symmetric_difference(B)
print("Symmetric difference between A and B:", A_symmetric_difference_B)

# 12. Delete the sets completely
del it_companies
del A
del B

# 13. Convert the ages to a set and compare the length of the list and the set
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
length_age_list = len(age)
length_age_set = len(age_set)
print("Length of age list:", length_age_list)
print("Length of age set:", length_age_set)

Length of it_companies: 7
it_companies after adding 'Twitter': {'Amazon', 'Twitter', 'Apple', 'Microsoft', 'Facebook', 'Oracle', 'Google', 'IBM'}
it_companies after adding multiple companies: {'SpaceX', 'Microsoft', 'Twitter', 'Facebook', 'Oracle', 'Amazon', 'Google', 'Netflix', 'Tesla', 'Apple', 'IBM'}
it_companies after removing 'IBM': {'SpaceX', 'Microsoft', 'Twitter', 'Facebook', 'Oracle', 'Amazon', 'Google', 'Netflix', 'Tesla', 'Apple'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
A after joining with B: {19, 20, 22, 24, 25, 26, 27, 28}
B after joining with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5

In [32]:
import math

# Given radius
radius = 30

# Calculate the area of a circle
_area_of_circle_ = math.pi * radius ** 2
print("Area of the circle:", _area_of_circle_)

# Calculate the circumference of a circle
_circum_of_circle_ = 2 * math.pi * radius
print("Circumference of the circle:", _circum_of_circle_)

# Take radius as user input and calculate the area
user_radius = float(input("Enter the radius of the circle: "))
_area_of_circle_user_input_ = math.pi * user_radius ** 2
print("Area of the circle with radius", user_radius, "is:", _area_of_circle_user_input_)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle: 10
Area of the circle with radius 10.0 is: 314.1592653589793

In [1]:
# Given sentence
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words
words = sentence.split()
print("List of words:", words)

# Convert the list of words to a set to get unique words
unique_words = set(words)
print("Unique words:", unique_words)

# Get the number of unique words
num_unique_words = len(unique_words)
print("Number of unique words:", num_unique_words)

List of words: ['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
Unique words: {'a', 'I', 'and', 'teacher', 'to', 'teach', 'am', 'love', 'people', 'inspire'}
Number of unique words: 10

In [2]:
# Print the header with tab separation
print("Name\t\tAge\tCountry\tCity")

# Print the data with tab separation
print("Asabeneh\t250\tFinland\tHelsinki")

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

In [3]:
radius = 10
area = 3.14 * radius ** 2
formatted_string = "The area of a circle with radius {} is {:.0f} meters square.".format(radius, area)
print(formatted_string)

The area of a circle with radius 10 is 314 meters square.

In [4]:
# Conversion factor from pounds to kilograms
POUNDS_TO_KILOGRAMS = 0.453592

# Function to convert weights from pounds to kilograms
def convert_weights(weights):
    return [round(weight * POUNDS_TO_KILOGRAMS, 2) for weight in weights]

# Read the number of students
N = int(input("Enter the number of students: "))

# Initialize the list to store weights in pounds
weights_in_pounds = []

# Read the weights of the students
for i in range(N):
    weight = float(input(f"Enter the weight of student {i+1} in pounds: "))
    weights_in_pounds.append(weight)

# Convert the weights to kilograms
weights_in_kilograms = convert_weights(weights_in_pounds)

# Print the converted weights
print("Weights in pounds:", weights_in_pounds)
print("Weights in kilograms:", weights_in_kilograms)

Enter the number of students: 3
Enter the weight of student 1 in pounds: 100
Enter the weight of student 2 in pounds: 150
Enter the weight of student 3 in pounds: 190
Weights in pounds: [100.0, 150.0, 190.0]
Weights in kilograms: [45.36, 68.04, 86.18]